

:root{
  --carpet-bg-back: #ff8550;
  --carpet-bg-front: #e57748;
  --text-color: #000000;
  --menu-btn-bg: #e57748;
  --body-bg:blueviolet
}

.wip {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 500px;
}
body { 
  display: grid;
  grid-template-columns: 300px 1fr;
  background-color: var(--body-bg)  !important;
}

/*roll*/
.right-side{
  display: flex;
  align-items: center;
  height: 100%;
}
.roll-container {
  width: 100%;
  height: 80%;
  position: relative;
  overflow: hidden;
  float: right;
}

.roll-content {
  width: 100%;
  height: 100%;
  background-color: var(--carpet-bg-front);
  position: absolute;
  top: 0;
  right: 0%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  display: flex;
  align-items: center;
  column-gap: 20px;
  color: var(--text-color);
  /* box-shadow: inset 0 0 50px white; */
}
.roller {
  width: 75%;
  height: 100%;
  background-color: var(--body-bg);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  position: absolute;
  z-index: 1;
  margin-right: 20px;
}
.roller_animate{
  animation: roller 2s forwards;
}
@keyframes roller {
  0% {
    width: 100%;
  }
  50%{
    width: 35%;
  }
  75%{
    width: 80%;
  }
  
  100% {
    width: 0%;
  }
}

.roller_unroll_animate{
  animation: un_roller 2s forwards;
}
@keyframes un_roller {
  0% {
    width: 0%;
  }
  50%{
    width: 70%;
  }
  75%{
    width: 50%;
  }
  
  100% {
    width: 100%;
  }
}

.roll-unit {
  width: 10%;
  height: 100%;
  box-shadow: 10px 0px 20px -4px #000;
  background-color: var(--carpet-bg-back);
  float: right;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.right-side-contents{
  margin-left: 75px;
}
.about-btn-content, .contact-btn-content{
  display: none;
}
.right-side-content-div{
  width: 65%;
}

.left-side-wrapper{
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
}


.left-menu-btn{
  cursor:url("./Assests/images/pointer.png"),pointer;
  height: 100px;
  width: 100px;
  color: var(--text-color);
  border-radius: 50px;
  background-color: var(--menu-btn-bg);
  box-shadow: inset 0 0 25px white;
  display: grid;
  place-items: center;
  transform-style: preserve-3d;
  transition: transform 1s;
}
.left-menu-btn:hover{
  transform: rotateY(180deg);
}
.front-face,.back-face{
  backface-visibility: hidden;
}
.back-face{
  transform: rotateY(180deg);
  position: absolute;
}
.content-css{
  text-align: justify;
  width: 90%;
  color: var(--text-color);
  font-size: 11pt;
}